<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-4r [%t] %-5p %c.%M(%F:%L) - %m%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/provider2.log"
					 filePattern="log/$${date:yyyyMM}/provider2-%d{yyyyMMdd}-%i.log.gz">
			<PatternLayout
					pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-4r [%t] %-5p %c.%M(%F:%L) - %m%n" />
			<SizeBasedTriggeringPolicy size="100MB" />
			<!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<root level="info">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
	</Loggers>
</Configuration>  
